
.tools {
  padding: 3px 10px;
  border-bottom: 1px solid #ddd;
}

.top-config {
  position: fixed;
  top: 10px;
  padding-left: 240px;
  border-bottom: 2px solid #ddd;
  width: 100%;
  padding-bottom: 10px;
  z-index: 7;
}
#myDiagramDiv {
  min-height: 400px;
}

.tools select {
  width: 50px;
  height: 20px;
  background: #daf6d4;
  border: 1px solid #fff;;
}
.diagram {
  background: #fff;
  border-top: 3px solid #ec5f47;
  border-bottom: 1px solid #ddd;
}

.diagram-header {
  padding: 10px;
}

.diagram-title {
  display: inline-block;
  width: 200px;

}

.diagram-operator {
    display: inline-block;
    float: right;
}
.help {
  float: right;
  margin-right: 300px;
}


/*.font-color span, .line-color span, .background span {
    width: 15px;  
    height: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}*/


.font-color .current, .line-color .current {
  border: 1px solid #fff;
}

.fa-flag {
  cursor: pointer;
  margin-left: 2px;
}


label {
  color: #339944;
}
textarea {
  height: 200px;
  border: 1px solid #eee;
  font-size: 12px;
}

input {
  width: 30px;
  display: inline-block;
}

a {
  cursor: pointer;
}

a:hover {
  background: #0088cc;
}

.focus {
  color:#ddd;
}

.focus:hover {
  color: #ec5f47
}

.my-focus {
  color: #ec5f47
}
.hidden {
  display: none;
}
.operator {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: right;
  display: inline-block;
}

.diagram canvas {
  border: 1px solid #ddd;
}

.msg {
    transition: all .3s ease;
    height: 30px;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}
.msg.v-enter, .msg.v-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}

