{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-empty-line-before": null,
    "no-extra-semicolons": null,
    "number-leading-zero": ["never"],
    "rule-non-nested-empty-line-before": null,
    "rule-nested-empty-line-before": null
  }
}